.imgAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 10px 20px;
  overflow: hidden;
}
.imgAboutMe img {
  max-width: 500px;
  background-color: yellow;
}
.texte__aboutMe {
  background-color: yellow;
}
