.title-aboutMe1,
.title-aboutMe2 {
  margin: 10px 0 10px 0;
  border: 1px solid black;
  padding: 10px 0 10px 0;
}
.title-aboutMe1 {
  padding-left: 10px;
}
.title-aboutMe2 {
  text-align: end;
  padding-right: 10px;
}
.img-texte-aboutMe {
  display: flex;
}
.div-img-aboutMe {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: pink;
}
.div-img-aboutMe img {
  width: 100%;
}
.texte-aboutMe {
  flex: 1;
  object-fit: contain;
  background-color: yellow;
}
.texte-aboutMe p {
  padding: 20px;
}
