.title-category1,
.title-category2 {
  margin: 10px 0 10px 0;
  border: 1px solid black;
  padding: 10px 0 10px 0;
}
.title-category1 {
  padding-left: 10px;
}
.title-category2 {
  text-align: end;
  padding-right: 10px;
}
.img-texte-category {
  display: flex;
}
.div-img-category {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}
.div-img-category img {
  width: 100%;
}
.texte-category {
  flex: 1;
  object-fit: contain;
  background-color: yellow;
}
.texte-category p {
  padding: 20px;
}
