.categories__container {
  margin-top: 100px;
}
.categories__container-last .categories__all-background-grey,
.categories__container-last .categories__all-background-green {
  padding-bottom: 200px;
}
.category__container {
  margin-bottom: 80px;
  width: 100%;
  /* background-color: aqua; */
}
.categories__all-container-1,
.categories__all-container-2 {
  position: relative;
}
.categories__all-background-grey,
.categories__texte-2-grey,
.categories__texte-button-grey::before {
  background-color: #f2f3f3;
}
.categories__text-background-grey {
  background-color: #d6e3cf;
}
.categories__text-background-grey p {
  color: #37463d;
}
.categories__all-background-green,
.categories__text-background-green,
.categories__texte-1-green,
.categories__texte-2-green,
.categories__texte-button-green::before {
  background-color: #37463d;
}
.categories__all-background-grey,
.categories__all-background-green {
  padding-bottom: 70px;
  padding-top: 50px;
}
.categories__number-container-category2,
.categories__title-container-category1,
.categories__title-container-category2,
.categories__texte-button-container-category1-L,
.categories__texte-button-container-category1-M,
.categories__texte-button-container-category2-L,
.categories__texte-button-container-category2-M,
.categories__picture-overlay-background-container-category1-L,
.categories__picture-overlay-background-container-category1-M,
.categories__picture-overlay-background-container-category2-L,
.categories__picture-overlay-background-container-category2-M,
.categories__picture,
.categories__overlay,
.categories__background-category1,
.categories__background-category2 {
  position: absolute;
}
.categories__number-container-category1,
.categories__number-container-category2 {
  height: 170px;
  width: 170px;
  padding-top: 20px;
  background-color: #8c9c7c;
}
.categories__number-container-category2 {
  right: 0;
}
.categories__number-container {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: yellowgreen; */
}
.categories__number-container-category1 p,
.categories__number-container-category2 p {
  font-size: 100px;
  font-family: PlayfairDisplay-Regular;
  color: #d6e3cf;
  /* background-color: red; */
}
.categories__title-container-category1,
.categories__title-container-category2 {
  display: flex;
  align-items: center;
  height: 20%;
  min-width: 800px;
  padding: 10px 0;
  /* background-color: burlywood; */
}
.categories__title-container-category1 {
  left: 50px;
}
.categories__title-container-category2 {
  justify-content: flex-end;
  right: 50px;
}
.categories__title-beige {
  color: #f6edd9;
}
.category__container-2 {
  height: 450px;
  margin-bottom: 100px;
  /* background-color: blue; */
}
.categories__texte-button-container-category1-L,
.categories__texte-button-container-category2-L,
.categories__texte-button-container-category1-M,
.categories__texte-button-container-category2-M {
  /* background-color: #37463d; */
  padding: 20px;
  top: 100px;
  z-index: 3;
}
.categories__texte-button-container-category1-L,
.categories__texte-button-container-category1-M {
  background-color: #37463d;
}
.categories__background-green p {
  color: #37463d;
}
.categories__background-green {
  color: #37463d;
}
.categories__texte-button-container-category2-L-clearGreen {
  background-color: #d6e3cf;
  padding: 20px;
  top: 54px;
  z-index: 3;
}
.categories__texte-button-container-category1-L,
.categories__texte-button-container-category2-L {
  width: 60%;
}
.categories__texte-button-container-category1-M,
.categories__texte-button-container-category2-M {
  width: 45%;
}
.categories__texte-button-container-category2-L,
.categories__texte-button-container-category2-M {
  right: 0;
}
.categories__texte-button-container-category1-M .categories__texte,
.categories__texte-button-container-category2-M .categories__texte {
  height: 300px;
}
.categories__texte {
  font-family: Montserrat-Regular;
  margin-bottom: 10px;
  overflow: hidden;
  height: 267px;
  color: #d5e3cf;
}
.categories__button {
  position: relative;
  font-family: Montserrat-Medium;
  color: #d5e3cf;
  cursor: pointer;
}
.categories__text-background-grey .categories__button {
  color: #37463d;
}
.categories__button::before,
.categories__text-background-grey .categories__button::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-out;
}
.categories__button::before {
  background-color: #f2f3f3;
}
.categories__text-background-grey .categories__button::before {
  background-color: #37463d;
}
.categories__button:hover::before,
.categories__text-background-grey .categories__button:hover::before,
hover::before {
  transform: scaleX(1);
}
.categories__picture-overlay-background-container-category1-L,
.categories__picture-overlay-background-container-category1-M {
  display: flex;
  justify-content: flex-end;
  right: 0;
}
.categories__picture-overlay-background-container-category1-L,
.categories__picture-overlay-background-container-category2-L {
  width: 60%;
}
.categories__picture-overlay-background-container-category1-M,
.categories__picture-overlay-background-container-category2-M {
  width: 45%;
}
.categories__picture-overlay-background-container-category1-L:hover
  .categories__overlay,
.categories__picture-overlay-background-container-category2-L:hover
  .categories__overlay,
.categories__picture-overlay-background-container-category1-M:hover
  .categories__overlay,
.categories__picture-overlay-background-container-category2-M:hover
  .categories__overlay {
  opacity: 1;
}
.categories__picture-overlay-background-container-category1-L:hover img,
.categories__picture-overlay-background-container-category2-L:hover img,
.categories__picture-overlay-background-container-category1-M:hover img,
.categories__picture-overlay-background-container-category2-M:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.categories__picture {
  z-index: 2;
  overflow: hidden;
  width: 100%;
}

.categories__picture img {
  transition: transform 1s;
  width: 100%;
  height: 500px;
}
.categories__overlay {
  width: 100%;
  height: 500px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.45s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
}
.categories__overlay-title {
  text-transform: uppercase;
  color: white;
  margin-bottom: 15px;
  font-family: Montserrat-Regular;
  font-size: 25px;
  text-align: center;
  line-height: 25px;
}
.categories__underline {
  width: 10%;
  height: 2px;
  background-color: white;
  margin-bottom: 15px;
}
.categories__overlay p {
  text-transform: uppercase;
  color: white;
}
.categories__background-category1,
.categories__background-category2 {
  z-index: 1;
  background-color: #c5c5a9;
  height: 500px;
  width: 100%;
  top: 40px;
}
.categories__background-category1 {
  left: -35px;
}
.categories__background-category2 {
  right: -35px;
}

/* //////////////////////////////////////// RESPONSIVE //////////////////////////////////////// */

@media screen and (max-width: 1520px) {
  .categories__number-container-category1,
  .categories__number-container-category2 {
    height: 150px;
    width: 150px;
  }
  .category__container {
    margin-bottom: 50px;
  }
  .categories__number-container-category1 p,
  .categories__number-container-category2 p {
    font-size: 75px;
  }
  .categories__texte-button-container-category1-M .categories__texte,
  .categories__texte-button-container-category2-M .categories__texte {
    height: 300px;
  }
}
@media screen and (max-width: 1350px) {
  .categories__picture img,
  .categories__background-category1,
  .categories__background-category2,
  .categories__overlay {
    height: 400px;
  }
  .categories__texte {
    height: 250px;
  }
  .categories__texte-button-container-category1-L,
  .categories__texte-button-container-category2-L,
  .categories__texte-button-container-category1-M,
  .categories__texte-button-container-category2-M {
    top: 45px;
  }
}
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 1250px) {
}
@media screen and (max-width: 1160px) {
  .categories__number-container-category1 p,
  .categories__number-container-category2 p {
    font-size: 60px;
  }
  .categories__number-container-category1,
  .categories__number-container-category2 {
    height: 140px;
    width: 140px;
  }
}
@media screen and (max-width: 1030px) {
  .categories__picture img,
  .categories__background-category1,
  .categories__background-category2,
  .categories__overlay {
    height: 350px;
  }
  .categories__texte {
    height: 200px;
  }
  .categories__texte p {
    font-size: 0.8em;
  }
  .categories__number-container-category1 p,
  .categories__number-container-category2 p {
    font-size: 55px;
  }
  .categories__number-container-category1,
  .categories__number-container-category2 {
    height: 130px;
    width: 130px;
  }
}
@media screen and (max-width: 910px) {
  .categories__number-container-category1 p,
  .categories__number-container-category2 p {
    font-size: 50px;
  }
  .categories__number-container-category1,
  .categories__number-container-category2 {
    height: 120px;
    width: 120px;
  }
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 780px) {
}
@media screen and (max-width: 730px) {
}
@media screen and (max-width: 420px) {
  .categories__container {
    margin-top: 50px;
  }
  .category__container-2 {
    height: 760px;
    /* background-color: blue; */
  }
  .categories__all-container-2 {
    height: 100%;
  }
  .categories__title-container-category1 h2,
  .categories__title-container-category2 h2 {
    padding-bottom: 10px;
    /* background-color: yellow; */
  }
  .category__container-2 {
    margin-bottom: 50px;
  }
  .categories__number-container-category1,
  .categories__number-container-category2 {
    height: 80px;
    width: 80px;
  }
  .categories__title-container-category1 {
    left: 17px;
  }
  .categories__title-container-category2 {
    right: 17px;
  }
  .categories__background-category1 {
    left: -17px;
  }
  .categories__background-category2 {
    right: -17px;
  }
  .categories__background-category1,
  .categories__background-category2 {
    top: 17px;
  }
  .categories__picture-overlay-background-container-category1-L,
  .categories__picture-overlay-background-container-category2-L,
  .categories__picture-overlay-background-container-category1-M,
  .categories__picture-overlay-background-container-category2-M {
    width: 95%;
  }
  .categories__texte-button-container-category1-L,
  .categories__texte-button-container-category2-L,
  .categories__texte-button-container-category1-M,
  .categories__texte-button-container-category2-M {
    /* background-color: red; */
    bottom: 0;
    top: auto;
    width: 100%;
  }
  .categories__texte,
  .categories__texte-button-container-category1-M .categories__texte,
  .categories__texte-button-container-category2-M .categories__texte {
    height: 300px;
    /* display: none; */
  }
  .categories__all-background-grey,
  .categories__all-background-green {
    padding-bottom: 40px;
  }
  .categories__container-last .categories__all-background-grey,
  .categories__container-last .categories__all-background-green {
    padding-bottom: 50px;
  }
  .categories__number-container-category1 p,
  .categories__number-container-category2 p {
    font-size: 40px;
  }
}
