.contact__all-test {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact__all-container {
  display: flex;
  margin: auto;
  width: 80%;
  /* background-color: red; */
}
.contact__container-1,
.contact__container-2 {
  flex: 1;
}
.contact__container-1 {
  padding: 20px;
  display: flex;
  align-items: center;
}
.contact__container-1 img {
  width: 100%;
  height: 100%;
}
.contact__container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background-color: yellow; */
}
.contact__infos-container {
  display: flex;
  flex-direction: column;
  /* background-color: greenyellow; */
  height: 150px;
  margin-top: 20px;
  text-align: center;
}
.contact__map {
  height: 350px;
  width: 600px;
}
.pin-icon {
  color: red;
  width: 30px;
  height: 30px;
}
.contact__infos-container span {
  margin-bottom: 5px;
}
.contact__infos-container a {
  border: 2px solid #9bb291;
  transition: ease-in-out 0.2s;
  border-radius: 40px;
  padding: 10px;
  margin-top: 30px;
  color: #9bb291;
  font-weight: bold;
}
.contact__infos-container a:hover {
  background-color: #9bb291;
  color: white;
}
