.headerResp__container {
  display: none;
}
.headerResp__first-menu {
  display: flex;
  padding: 10px 20px;
  background-color: #37463d;
}
.headerResp__sousMenu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 10%;
  /* background-color: black; */
}
.headerResp__lines {
  height: 2.5px;
  width: 30px;
  border-radius: 40px;
  margin: 3px 0;
  background-color: #d6e3cf;
}
.headerResp__signature-container {
  display: flex;
  justify-content: center;
  width: 80%;
  /* background-color: red; */
}
.headerResp__signature-container img {
  width: 120px;
}
.headerResp__second-menu-block {
  display: block;
}
.headerResp__second-menu-none {
  display: none;
}
.headerResp__overlay-container {
  position: absolute;
  /* overflow: hidden; */
  overflow: scroll;
  width: 100%;
  top: 0;
  /* height: 100vh; */
  min-height: -webkit-fill-available;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.6);
}
.headerResp__menu-container-in,
.headerResp__menu-container-out {
  position: absolute;
  overflow: hidden;
  width: 80%;
  z-index: 999;
  top: 0;
  /* height: 100vh; */
  min-height: -webkit-fill-available;
  overflow: scroll;
  background-color: #37463d;
  width: 80%;
}
.headerResp__menu-container-in {
  animation: 1.5s ease-out SlideInFromLeft;
}
.headerResp__menu-container-out {
  animation: 1.5s ease-out SlideInFromRight;
}
.headerResp__croix-txt-container {
  display: flex;
  justify-content: space-between;
}
.headerResp__croix-container {
  padding: 20px;
}
.headerResp__croix {
  width: 20px;
}
.headerResp__txt {
  color: #d6e3cf;
  font-weight: bold;
  font-size: 15px;
  background-color: #9bb291;
  height: 40px;
  padding: 10px 20px;
}
.headerResp__btns-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0 50px 0;
  text-align: left;
  /* background-color: red; */
}
.headerResp__btn-container-first {
  padding: 0px 10px 20px 10px;
  width: 25%;
  /* background-color: yellowgreen; */
}
.headerResp__btn-arw-container {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  width: 50%;
}
.fleches {
  background-color: red;
}
.headerResp__btn-container {
  padding: 20px 10px;
  width: 40%;
}
.headerResp__btn-green {
  color: #9bb291;
  font-family: Montserrat-Medium;
}
.headerResp__btn-white {
  color: white;
  font-family: Montserrat-Medium;
}
.headerResp__arrow-block {
  width: 15px;
  height: 10px;
  margin-left: 10px;
  display: block;
}
.headerResp__arrow-none {
  width: 15px;
  height: 10px;
  margin-left: 10px;
  display: none;
}
.headerResp__under-btns-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: 1s ease-out rotateX;
  transform-origin: top center;
  /* background-color: red; */
}
.headerResp__under-btn-green,
.headerResp__under-btn-white {
  width: 170px;
  padding: 5px;
}
.headerResp__under-btn-green {
  color: #9bb291;
}
.headerResp__under-btn-white {
  color: white;
}
.headerResp__btn-contact-container {
  padding: 40px 10px 100px 10px;
  border-top: 1px solid #9bb291;
  display: flex;
  justify-content: center;
  text-align: center;
  /* background-color: red; */
}
.headerResp__btn-contact {
  border: 2px solid #9bb291;
  transition: ease-in-out 0.2s;
  border-radius: 40px;
  padding: 10px;
  width: 200px;
  color: #9bb291;
  font-weight: bold;
  background-color: #37463d;
}

/* //////////////////////////////////////// ANIMATION //////////////////////////////////////// */

@keyframes SlideInFromLeft {
  0% {
    transform: translateX(-1000%);
  }
  50% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes SlideInFromRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500%);
  }
  100% {
    transform: translateX(-1000%);
  }
}
@keyframes SlideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  /* 50% {
    transform: translateY(-250%);
  } */
  100% {
    transform: translateY(0);
  }
}
@keyframes rotateX {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
/* //////////////////////////////////////// RESPONSIVE //////////////////////////////////////// */

@media screen and (max-width: 420px) {
  .headerResp__container {
    display: block;
  }
}
