.headerDivBlanc,
.headerDivNoir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 30px 0;
}
.headerDivBlanc:hover .transLetters,
.headerDivNoir:hover .transLetters {
  cursor: pointer;
  opacity: 7;
  transition: 0.7s ease-in;
  /* transition: 0.8s ease-out; */
}
.headerDivBlanc img.headerSignatureBlanche,
.headerDivNoir img.headerSignatureNoire {
  display: block;
}
.headerDivNoir span,
.headerDivBlanc span {
  transition: 0.8s ease-out;
}
.headerDivBlanc span {
  color: white;
}
.headerDivNoir span {
  color: black;
}
.headerSignatureBlanche,
.headerSignatureNoire {
  max-width: 200px;
  display: none;
}
.header1Border1,
.header1Border2,
.header1Border3,
.header1Border4,
.header1Border5,
.header1Border6 {
  padding: 1rem;
  border-bottom: 2px solid black;
}
.header1Border1 span,
.header1Border2 span,
.header1Border3 span,
.header1Border4 span,
.header1Border5 span,
.header1Border6 span {
  opacity: 7;
  font-size: 1.5rem;
}
.headerBox {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  display: inline-block;
  position: relative;
}
.headerBox::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.45s ease-out;
}
.headerDivBlanc .headerBox::after {
  border-bottom: 2px solid white;
}
.headerDivNoir .headerBox::after {
  border-bottom: 2px solid black;
}
.headerBox:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.transLetters {
  opacity: 0;
}
