.header__green {
  background-color: #37463d;
}
.header__transparent,
.header__green {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  font-family: Montserrat-Medium;
  width: 100%;
}
.header__transparent span,
.header__green span {
  transition: 0.8s ease-out;
}
.header__signature {
  max-width: 150px;
}
.header__buttons-container-1,
.header__buttons-container-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 6% 0 6%;
  flex: 1;
}
.header__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
  width: 200px;

  /* background-color: pink; */
}
.header__box-link:hover .header__button span {
  letter-spacing: 5px;
}
.header__button span {
  margin-bottom: 5px;
}
.header__transparent .header__button span {
  color: white;
}
.header__green .header__button span {
  color: #9bb291;
}
.header__underline {
  width: 20%;
  border-bottom: 2px solid #8c9c7c;
}
.header__green .header__underline-2 {
  width: 20%;
  border-bottom: 2px solid #37463d;
}

/* ////////////////////////////// MENU ////////////////////////////// */

.header__dropdown {
  position: relative;
  display: inline-block;
}
.header__dropdown:hover .header__dropdown-content {
  display: block;
}
.header__dropdown-content {
  display: none;
  position: absolute;
  transition: visibility 0s, opacity 0.3s linear;
  background-color: #37463d;
  min-width: 200px;
  position: absolute;
  z-index: 1000;
}
.little__button,
.little__button-2 {
  color: #9bb291;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  border-top: 1px solid #9bb291;
}
.little__button:hover {
  color: white;
}
.little__button-2 {
  color: white;
}

/* //////////////////////////////////////// RESPONSIVE //////////////////////////////////////// */

@media screen and (max-width: 1520px) {
}
@media screen and (max-width: 1350px) {
}
@media screen and (max-width: 1300px) {
  .header__buttons-container-1,
  .header__buttons-container-2 {
    padding: 0 4% 0 4%;
  }
}
@media screen and (max-width: 1250px) {
  .header__button {
    width: 157px;
    font-size: 1rem;
    /* background-color: pink; */
  }
  .header__signature {
    width: 130px;
  }
}
@media screen and (max-width: 1160px) {
}
@media screen and (max-width: 1030px) {
}
@media screen and (max-width: 910px) {
  .header__buttons-container-1,
  .header__buttons-container-2 {
    padding: 0 3% 0 3%;
  }
  .header__signature {
    width: 125px;
  }
}
@media screen and (max-width: 860px) {
  .header__box-link:hover .header__button span {
    letter-spacing: 0px;
  }
  .header__signature {
    width: 120px;
  }
  .header__button {
    font-size: 0.8rem;
    width: 110px;
  }
}
@media screen and (max-width: 780px) {
}
@media screen and (max-width: 730px) {
  .header__signature {
    width: 100px;
  }
}
@media screen and (max-width: 620px) {
  .header__button {
    font-size: 0.6rem;
    width: 90px;
  }
}
