div.menu1 {
  height: 50%;
  max-width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnMenuHome {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 30px;
}
