.title-plans1,
.title-plans2 {
  margin: 10px 0 10px 0;
  border: 1px solid black;
  padding: 10px 0 10px 0;
}
.title-plans1 {
  padding-left: 10px;
}
.title-plans2 {
  text-align: end;
  padding-right: 10px;
}
.img-texte-plans {
  display: flex;
}
.div-img-plans {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
}
.div-img-plans img {
  width: 100%;
}
.texte-plans {
  flex: 1;
  object-fit: contain;
  background-color: yellow;
}
.texte-plans p {
  padding: 20px;
}
