/* /////////////// PARTIE UNE /////////////// */

.projets__PartOne {
  display: flex;
  align-items: center;
  height: 200px;
  /* background-color: yellow; */
  position: relative;
  margin: 80px 0;
}
.projets__title-date {
  position: absolute;
  z-index: 2;
  /* background-color: pink; */
  left: 15px;
}
.projets__titleUnderline {
  width: 60px;
  height: 3px;
  background-color: #37463d;
  margin-top: 10px;
}
.projets__date-dateLine {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.projets__dateLine {
  height: 3px;
  width: 15px;
  margin-right: 10px;
  background-color: #8c9c7c;
}
.projets__titleBackground {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 200px;
  background-color: #d6e3cf;
}
.projetClamart__img-croquis {
  position: absolute;
  z-index: 40;
  right: -30px;
  top: -35px;
}

/* /////////////// PARTIE DEUX /////////////// */

.projetClamart__PartTwo {
  /* background-color: pink; */
  height: 800px;
}
.projetMedium__PartTwo {
  /* background-color: pink; */
  height: 660px;
}
.projetCelle__PartTwo {
  /* background-color: pink; */
  height: 500px;
  margin-bottom: 30px;
}
.projets__imgPrincipal-background-text-container {
  position: relative;
}
.projets__imgPrincipal {
  position: absolute;
  z-index: 2;
  width: 35%;
}
.tall {
  height: 800px;
}
.small {
  height: 450px;
}
.medium {
  height: 550px;
}
.projets__backgroundImgPrincipal {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 50px;
  width: 35%;
  background-color: #c5c5a9;
}
.large {
  width: 55%;
  height: 550px;
}
.projetClamart__texte-container {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 200px;
  width: 69%;
  background-color: #37463d;
  padding: 30px 40px 40px 40px;
}
.projetCelle__texte-container {
  position: absolute;
  z-index: 3;
  right: 0;
  top: -40px;
  width: 69%;
  background-color: #37463d;
  padding: 30px 40px 40px 40px;
}
.projetMedium__texte-container {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 200px;
  width: 50%;
  background-color: #37463d;
  padding: 30px 40px 40px 40px;
}

.projetClamart__texte-container p,
.projetCelle__texte-container p,
.projetMedium__texte-container p {
  color: #f6edd9;
}

/* /////////////// PARTIE TROIS /////////////// */

.projets__PartThree {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.marginB {
  margin-bottom: 30px;
}
.projets__pics-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  /* background-color: greenyellow; */
}
.projets__pics-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
}

/* /////////////// PARTIE FOUR /////////////// */

.projets__PartFour {
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
  margin-bottom: 30px;
}

/* /////////////// PARTIE FIVE /////////////// */

.projets__PartFive {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  /* background-color: yellow; */
}
.column {
  flex-direction: column;
  margin: 0 auto;
  max-width: 1330px;
}
.column img {
  margin-bottom: 30px;
}
.margin-bottom {
  margin-bottom: 100px;
}

/* //////////////////////////////////////// RESPONSIVE //////////////////////////////////////// */

@media screen and (max-width: 1520px) {
  .projetMedium__texte-container {
    top: 165px;
  }
  .projetMedium__PartTwo {
    height: 675px;
  }
  .projetCelle__texte-container {
    top: -60px;
  }
}
@media screen and (max-width: 1350px) {
}
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 1250px) {
}
@media screen and (max-width: 1160px) {
}
@media screen and (max-width: 1030px) {
}
@media screen and (max-width: 910px) {
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 780px) {
}
@media screen and (max-width: 730px) {
}
