.test__container {
  /* background-color: yellow; */
}

.test__pic-container {
  display: flex;
  margin: 100px;
  justify-content: space-between;
  background-color: pink;
  align-items: flex-end;
  /* position: relative; */
}

.test__pic-2 {
  margin-bottom: 100px;
}
.test__pic-3 {
  margin-bottom: 200px;
}
