body {
  --def: #090e0c;
  --inv: #fff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: 7%;
  margin-right: 7%;
}
h1 {
  font-family: PlayfairDisplay-Bold;
  color: #f6edd9;
  font-size: 100px;
}
h2 {
  font-family: PlayfairDisplay-ExtraBold;
  font-size: 60px;
  color: #37463d;
  line-height: 55px;
}
h3 {
  font-family: Montserrat-Medium;
  color: #8c9c7c;
  height: 30px;
  line-height: 30px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
p {
  white-space: pre-wrap;
}
span {
  font-weight: bold;
  letter-spacing: 0.05em;
}
.imageOverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.45s ease-in-out;
}
.imageOverlay:hover {
  cursor: pointer;
  opacity: 1;
}
.imageTitle {
  margin-bottom: 10px;
}
.fadeIn {
  animation: 2s ease fadeIn;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.relative {
  position: relative;
  min-height: 100vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0%;
  }
  100% {
    opacity: 1;
  }
}
