body {
  --def: #090e0c;
  --inv: #fff;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  margin-left: 10%;
  margin-right: 10%;
}
span {
  color: black;
  font-weight: bold;
  letter-spacing: 0.05em;
}
