body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: local("AirbnbCerealLight"),
    url("../src/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: local("AirbnbCerealLight"),
    url("../src/fonts/montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: local("AirbnbCerealLight"),
    url("../src/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: local("AirbnbCerealLight"),
    url("../src/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-Black";
  src: local("AirbnbCerealLight"),
    url("../src/fonts/PlayfairDisplay-Black.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: local("AirbnbCerealLight"),
    url("../src/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: local("AirbnbCerealLight"),
    url("../src/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay-ExtraBold";
  src: local("AirbnbCerealLight"),
    url("../src/fonts/PlayfairDisplay-ExtraBold.ttf") format("truetype");
}
