body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Montserrat-SemiBold"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../src/fonts/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../src/fonts/montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../src/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../src/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "PlayfairDisplay-Black"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../src/fonts/PlayfairDisplay-Black.otf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay-Regular"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../src/fonts/PlayfairDisplay-Regular.otf") format("truetype");
}
@font-face {
  font-family: "PlayfairDisplay-Bold"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("../src/fonts/PlayfairDisplay-Bold.otf") format("truetype");
}
